<select [(ngModel)]="rowsPerPage">
    <option value="5">5</option>
    <option value="10">10</option>
    <option value="15">15</option>
</select>
<p>{{rowsPerPage}}</p>
<app-table-layout [data]="data" [columnHeaders]="keys" [pageSize]="rowsPerPage"></app-table-layout>