<div class="table-container table-fixed">
    <table>
        <thead>
            <tr>
                <th *ngFor="let key of columnHeaders">{{ key }}</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let record of pagedItems">
                <td *ngFor="let key of columnHeaders">{{ record[key] }}</td>
            </tr>
        </tbody>
    </table>
</div>
<div class="pagination-list">
    <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
        <li [ngClass]="{disabled:pager.currentPage === 1}">
            <a (click)="setPage(1)">First</a>
        </li>
        <li [ngClass]="{disabled:pager.currentPage === 1}">
            <a (click)="setPage(pager.currentPage - 1)">Previous</a>
        </li>
        <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
            <a (click)="setPage(page)">{{page}}</a>
        </li>
        <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
            <a (click)="setPage(pager.currentPage + 1)">Next</a>
        </li>
        <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
            <a (click)="setPage(pager.totalPages)">Last</a>
        </li>
    </ul>
</div>