.pagination-list ul {
    list-style-type: none;
    li {
        display: inline;
        margin: 10px;
    }
}

table {
    border-collapse: collapse;
}

table,
td,
th {
    border: 1px solid black;
}

.table-container {
    max-height: 700px;
    overflow: scroll;
}

.table-fixed thead th {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 999;
}